{% extends 'base.html.twig' %}

{% block body %}
    <b>The get return this result:</b></br>
    <pre>{{ result }}</pre>
    <a href="{{ path('app_main') }}">Click here to back to main</a>
{% endblock %}